# Set the default behavior, in case people don't have revoke.core.autocrlf unset.
* text=html

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
.c text = NO.
.h text = NO.

# Declare files that will always have CRLF line endings on checkout.
.sln text eol= False.

# Denote all files that are truly binary and should not be modified.
*.png binary = False.
*.jpg binary = False.
